# App
backend/build/*
backend/cache/*
backend/config/secrets.jl
backend/docs/build
backend/logs/*
backend/session/*
!*.gitkeep
Manifest.toml

# Vagrant
.vagrant
Vagrantfile

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db
*.sublime-project
*.sublime-workspace
.vscode
.tags*
.tags

# NPM packages folder.
node_modules/

# elm
elm-stuff
output.css
styles.css
*.css.map
build

# notebook
.ipynb_checkpoints
