@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Charter", "EB Garamond", "Georgia", serif;
}

a {
    text-decoration: underline;
}

a:hover {
    @apply text-gray-600;
}

a:active {
    @apply text-red-400;
}

.trans-all {
    transition: 0.2s all;
}
