/* Modules */

@use "sass:color"

/* Variables */

$gray: gray
$white: white
$black: black
$orange: orange
$yellow: yellow
$blue: steelblue

/* HTML5 elements */

*
  box-sizing: border-box
  margin: 0
  padding: 0
  border: none
  background: none
  font-family: inherit

html
  margin: 0
  padding: 0
  font-family: "Palatino Linotype", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif

body
  margin: 0
  padding: 0
  position: relative

a
  color: inherit
  &:hover
    color: $gray
  &:active
    color: color.scale($gray, $lightness: 60%)

h1, h2, h3, h4, h5, h6
  font-size: inherit
  font-weight: inherit

input, button, select
  width: auto
  font-size: inherit

input, select
  border-bottom: 2px solid color.scale($orange, $lightness: 10%)
  background: color.scale($gray, $lightness: 90%)
  &:focus
    background: color.scale($yellow, $lightness: 80%, $saturation: -20%)
  &:disabled
    background: color.scale($gray, $lightness: 80%)


/* Utility classes */

.screen
  height: 100vh
  display: flex
  align-items: center
  justify-content: center

.circled
  border: 1px solid $black
  padding: 1px 5px
  border-radius: 999px
  margin-right: 0.5rem
  font-size: 0.7rem

.orange
  color: $orange

.blue
  color: $blue

/* Major component classes */

.config-interface
  min-height: 400px
  min-width: 720px
  width: 100%
  height: 100%
  max-width: 1280px
  max-height: 700px
  display: flex
  flex-direction: column

  .header
    .title
      font-size: 2.5rem
      font-weight: bold
    .subtitle
      font-size: 1em
      font-style: italic

  .body
    margin-top: 1.5rem
    display: flex
    flex-direction: column
    font-size: 1.1rem
    line-height: 1.5
    flex-grow:  1
    overflow: auto
    .top
      display: flex
      flex-grow: 1
      margin-bottom: 1rem
      overflow: auto
      .search-result
        border-bottom: 1px solid color.scale($gray, $lightness: 80%)
        background: $white
        width: 100%
        padding: 4px 5px
        display: flex
        flex-direction: column
        text-align: left
        &:focus
          background: color.scale($gray, $lightness: 80%)
        &:hover
          background: color.scale($orange, $lightness: 80%)
          cursor: pointer
        .major
          font-weight: bold
        .minor
          font-size: 0.8em
          color: $gray
      .tagline
        font-weight: bold
        font-style: italic
        display: flex
        align-items: center
      .left
        width: 33%
        margin-right: 2rem
        display: flex
        flex-direction: column
        overflow: auto
      .right
        width: 67%
    .bottom
      display: flex
      justify-content: center


.study-input-container, .gene-input-container
  #study-selector, #gene-selector
    margin-top: 0.5rem
    width: 100%
    padding: 5px 10px
    transition: 0.2s all
  #study-results, #gene-results
    position: relative
    width: 100%
    font-size: 0.95em
    z-index: 20
    #study-results-absolute, #gene-results-absolute
      position: absolute
      overflow: auto
      max-height: 40vh
      width: 100%
      border-left: 1px solid $orange
      border-right: 1px solid $orange
      border-bottom: 1px solid $orange
      box-shadow: 0 0 5px 0px color.scale($gray, $lightness: 70%)


.chosen-study-container
  flex-grow: 1
  padding: 1rem 0
  overflow: auto

#chosen-study
  font-size: 0.9em
  height: 100%
  overflow: auto
  .study-name
    font-weight: bold
    font-size: 1.2em
  .study-id
    color: $gray
    font-size: 0.8em
  .study-body
    margin-top: 1rem
  .study-description
    margin-top: 1rem
  .study-description-quote
    margin-top: 1rem
    border-left: 1px dotted $black
    padding-left: 1rem
  .profile-select
    display: inline
    max-width: 75%
    margin-top: 5px

#all-gene-config
  display: flex
  flex-direction: column
  overflow: auto
  .all-gene-statement
    margin-top: 1.5rem
    font-style: italic
  .second-gene-statement
    font-style: italic
    margin-bottom: 1em

.single-gene-config
  display: flex
  border-bottom: 1px dotted color.scale($gray, $lightness: 60%)
  padding: 0.5rem 0
  font-size: 0.9em
  .gene-left
    width: 70%
    display: flex
    .gene-hugo
      margin-right: 1rem
      width: 12%
      font-weight: bold
    .side-select
      margin-right: 1rem
      width: 13%
      text-align: center
    .gene-the
      width: 5%
    .gene-threshold
      width: auto
      width: 10%
      text-align: center
      margin-right: 0.5em
    .quantile
      width: 25%
      text-align: center
    .control-type-select
      width: 20%
      margin-right: 0.5em
      text-align: center
    .controls
      width: 10%
      margin-right: 0.5em
  .gene-right
    width: 25%
    display: flex
    position: relative
    .gene-slider
      width: 100%
    .shading-test
      position: absolute
      height: 1.6rem
      background: color.scale($orange, $lightness: 50%)
      z-index: -10
    .shading-neutral
      position: absolute
      height: 1.6rem
      background: color.scale($gray, $lightness: 95%)
      z-index: -10
    .shading-control
      position: absolute
      height: 1.6rem
      background: color.scale($blue, $lightness: 80%)
      z-index: -10
  .gene-end
    display: flex
    justify-content: flex-end
    button
      width: 5%
      height: 100%
      font-weight: bold
      font-size: 1.2rem
      &:hover
        color: $orange
        cursor: pointer

.submit-button
  padding: 1rem
  margin-top: auto
  margin-bottom: 2rem
  width: 100%
  border-bottom: 2px solid $orange
  color: $black
  background: color.scale($orange, $lightness: 90%)
  cursor: pointer
  &:hover
    background: color.scale($yellow, $lightness: 80%, $saturation: -20%)
  &:disabled
    cursor: auto
    color: $black
    background: $white
    border: 1px solid $black

#analysis-modal-background
  position: absolute
  height: 100vh
  width: 100vw
  top: 0
  left: 0
  display: flex
  justify-content: center
  align-items: center
  opacity: 0
  pointer-events: none
  &.visible
    opacity: 100%
    pointer-events: auto

#analysis-modal
  box-shadow: 0 0 10px $gray
  min-height: 480px
  min-width: 720px
  width: 100%
  height: 100%
  max-width: 90vw
  max-height: 90vh
  background: $white
  opacity: 0
  display: none
  transition: 0.2s all
  flex-direction: column
  position: relative
  z-index: 100
  #analysis-header
    position: absolute
    top: 0
    left: 0
    width: 100%
    display: flex
    justify-content: flex-end
    font-size: 3rem
    #analysis-header-close-button
      font-weight: bold
      padding: 0 1.5rem
      cursor: pointer
      &:hover 
        background: color.scale($gray, $lightness: 50%)
  &.visible
    display: flex
    opacity: 1


#analysis-loading
  width: 100%
  height: 100%
  align-items: center
  justify-content: center
  opacity: 0
  display: none
  transition: 0.2s all
  background: $white
  font-size: 2rem
  font-style: italic
  &.visible
    display: flex
    opacity: 1
    div:after
      content: "Loading...this may take several moments."

#analysis-loaded
  width: 100%
  height: 100%
  opacity: 0
  display: none
  transition: 0.2s all
  &.visible
    display: flex
    opacity: 1

  #analysis-left 
    width: 50%
    height: 100%
  #analysis-right
    width: 50%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    padding: 3rem

#analysis-left
  padding: 3rem
  line-height: 1.5
  #analysis-study-name
    font-weight: bold
    font-size: 2rem
  #analysis-study-id
    color: $gray
    font-style: italic
  #analysis-study-text 
    max-width: 600px
    margin-top: 2rem
    p 
      margin: 1rem 0
    ul
      padding-left: 2rem
      list-style-type: circle 
    #analysis-molecular-profile
      font-weight: bold
    #analysis-num-available, #analysis-num-control, #analysis-num-test
      font-weight: bold
    #analysis-event-type, #analysis-event-time-units
      text-transform: lowercase
      font-weight: bold
    #analysis-hazard-ratio, #analysis-p-value
      font-weight: bold
